.filter-row {
    -fx-background-color: #ffffff;
    -fx-padding: 10px 5px;
    -fx-spacing: 5px;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #c0e0eb;
}

.filter-row .filter-text-field,
.filter-row .filter-combo-box {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-size: 13px;
    -fx-min-height: 30px;
    -fx-pref-height: 30px;
    -fx-max-height: 30px;
}

.filter-row .combo-box-base {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.filter-row .combo-box-base .list-cell {
    -fx-padding: 0 10px;
    -fx-min-height: 30px;
    -fx-pref-height: 30px;
    -fx-max-height: 30px;
    -fx-alignment: CENTER_LEFT;
}

.filter-row .combo-box-base .arrow-button {
    -fx-background-insets: 0;
    -fx-padding: 0 8px;
}

.filter-row .combo-box:editable .text-field {
    -fx-padding: 0 10px;
    -fx-min-height: 30px;
    -fx-pref-height: 30px;
    -fx-max-height: 30px;
}
